$primary: (
  00: #000000,
  05: #000e2a,
  10: #001b52,
  15: #00297c,
  20: #0037a6,
  25: #0445c7,
  30: #1152d4,
  35: #1d5ee0,
  40: #2a6bed,
  50: #3c7dff,
  60: #6c9dff,
  70: #91b6ff,
  80: #b5ceff,
  90: #dbe7ff,
  95: #ecf2ff,
  98: #f8faff,
  99: #fcfdff,
  100: #ffffff,
);

$secondary: (
  00: #000000,
  05: #001218,
  10: #00222e,
  15: #003345,
  20: #00455d,
  25: #005775,
  30: #00688c,
  35: #0079a2,
  40: #0887b3,
  50: #1a99c5,
  60: #3bbae6,
  70: #57d4ff,
  80: #8ee2ff,
  90: #c8f1ff,
  95: #e2f8ff,
  98: #f4fcff,
  99: #fbfeff,
  100: #ffffff,
);

$tertiary: (
  00: #000000,
  05: #1e0025,
  10: #390047,
  15: #57006c,
  20: #73018e,
  25: #800e9b,
  30: #8d1ba8,
  35: #9927b4,
  40: #a634c1,
  50: #b846d3,
  60: #d967f4,
  70: #e98aff,
  80: #f0b0ff,
  90: #f8d8ff,
  95: #fbebff,
  98: #fef7ff,
  99: #fefcff,
  100: #ffffff,
);

$error: (
  00: #000000,
  05: #2a0004,
  10: #510007,
  15: #7b000a,
  20: #a5000e,
  25: #ba0a19,
  30: #c71726,
  35: #d32332,
  40: #e0303f,
  50: #f24251,
  60: #ff6b78,
  70: #ff919a,
  80: #ffb5bb,
  90: #ffdbde,
  95: #ffecee,
  98: #fff8f8,
  99: #fffcfc,
  100: #ffffff,
);

$success: (
  00: #000000,
  05: #001504,
  10: #002908,
  15: #003e0c,
  20: #005310,
  25: #006915,
  30: #007e19,
  35: #0b8a24,
  40: #189731,
  50: #2aa943,
  60: #4bca64,
  70: #65e47e,
  80: #7efd97,
  90: #bfffcb,
  95: #deffe4,
  98: #f2fff5,
  99: #fafffb,
  100: #ffffff,
);

$info: (
  00: #000000,
  05: #00111b,
  10: #002133,
  15: #00324e,
  20: #004369,
  25: #005483,
  30: #00659e,
  35: #0075b7,
  40: #0086d1,
  50: #0a9aeb,
  60: #38b7ff,
  70: #6bcaff,
  80: #9bdbff,
  90: #ceedff,
  95: #e6f6ff,
  98: #f5fbff,
  99: #fbfeff,
  100: #ffffff,
);

$neutral: (
  00: #000000,
  04: #0a0a0a,
  05: #0d0d0d,
  06: #0f0f0f,
  10: #191919,
  12: #1f1f1f,
  15: #262626,
  17: #2b2b2b,
  20: #333333,
  24: #3d3d3d,
  25: #404040,
  30: #4d4d4d,
  35: #595959,
  40: #666666,
  50: #808080,
  60: #999999,
  70: #b2b2b2,
  80: #cccccc,
  87: #dedede,
  90: #e5e5e5,
  92: #ebebeb,
  94: #f2f2f2,
  95: #f2f2f2,
  96: #f5f5f5,
  98: #fafafa,
  99: #fdfdfd,
  100: #ffffff,
);

$neutral-variant: (
  00: #000000,
  05: #080d18,
  10: #141924,
  15: #212631,
  20: #2e333e,
  25: #3b404b,
  30: #484d58,
  35: #545964,
  40: #616671,
  50: #737883,
  60: #9499a4,
  70: #aeb3be,
  80: #c7ccd7,
  90: #e1e6f1,
  95: #edf2fd,
  98: #f8faff,
  99: #fcfdff,
  100: #ffffff,
);
